from rsk_mind.datasource import *

from transformer import CustomTransformer

PROJECT_NAME = '{{ data.project_name }}'

DATASOURCE= {
  'IN' : {
    'class' : CSVDataSource,
    'params' : ('in.csv', )
  },
  'OUT' : {
    'class' : CSVDataSource,
    'params' : ('out.csv', )
  }
}

ANALYSIS = {
    'persist': True,
    'out': 'info.json'
}

TRANSFORMER = CustomTransformer

TRAINING = {

}

ENGINE = {

}