DATASOURCE= {
  'IN' : {
    'class' : rsk_mind.datasource.CSVDatasource,
    'params' : ['in.csv']

    }
  },
  'OUT' : {
    'class' : rsk_mind.datasource.CSVDatasource,
    'params' : ['out.csv']
  },
}
