from rsk_mind.datasource import *

from transformer import CustomTransformer

PROJECT_NAME = '{{ data.project_name }}'

DATASOURCE= {
  'IN' : {
    'class' : CSVDataSource,
    'params' : ('in.csv', )
  },
  'OUT' : {
    'class' : CSVDataSource,
    'params' : ('out.csv', )
  }
}

ANALYSIS = {
    'persist': True,
    'out': 'info.json'
}

TRANSFORMER = CustomTransformer

TRAINING = {
    'algorithm' : {
        'xgboost' : {
            'parameters' : {
                'bst:max_depth': 7,
                'bst:eta': 0.3,
                'bst:subsample': 0.5,
                'silent': 0,
                'objective': 'binary:logistic',
                'nthread': 4,
                'eval_metric': 'auc'
            },
            'dataset' : DATASOURCE['IN']
        }
    }
}

ENGINE = {

}