from rsk_mind.datasource import *

from transformer import CustomTransformer

DATASOURCE= {
  'IN' : {
    'class' : CSVDataSource,
    'params' : ('in.csv', )
  },
  'OUT' : {
    'class' : CSVDataSource,
    'params' : ('out.csv', )
  }
}

TRANSFORMER = CustomTransformer
